<% provide(:page_title, 'All Projects') %>

<main role="main">
  <div class="jumbotron" style="padding: 2rem 1rem;margin-bottom: 2rem;background-color: #e9ecef;border-radius: .3rem;">
    <div class="container">
      <h1 class="display-3">Hello, <%= current_user.email%></h1>
      <p>Welcome to the project page. You are now viewing all your projects. Click to <i>show, edit, or delete</i> projects. Click the <i>new project</i> button to create a new project.</p>
      <%= link_to 'New Project', new_project_path, :class => "btn btn-primary btn-lg", :role => "button" %>
    </div>
  </div>
      
  <div class="container">
    <div class="row">
    <% @projects.each do |project| %>
      <div class="col-md-4">
          <h2><%= project.title %></h2>
          <p><%= project.subtitle %></p>
          <p><%= project.images %></p>
          <p><%= project.description %></p>
          <%= link_to 'Show', project, :class => "btn btn-secondary", :role => "button" %>
          <%= link_to 'Edit', edit_project_path(project), :class => "btn btn-secondary", :role => "button"  %>
          <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-secondary", :role => "button"  %>
        </div>
      <% end %>
    </div>
  </div>
</main>

<br>
<hr>



