<% provide(:page_title, @project.title) %>


<div class="jumbotron" style="padding: 2rem 1rem;margin-bottom: 2rem;background-color: #e9ecef;border-radius: .3rem;">
  <div class="container">
    <h1 class="display-3"><%= @project.title %></h1>
    <p><%= @project.subtitle %></p>
    <p><%= @project.images %></p>
    <p><%= @project.description %></p>
    <%= link_to 'Edit', edit_project_path(@project), :class => "btn btn-primary" %> 
  </div>

</div>
<hr>
<%= link_to 'Back', projects_path, :class => "btn btn-secondary" %>




